.ToWatch{
    font-size: 25px;
}
.ToWatch input{
    padding: 5px 15px;
    background: rgba(4, 104, 255, 0.16);
    border: 1px solid #022355;
    color: #fff;
    font-size: 22px;
}
.ToWatch .Button{
    background: rgb(62, 134, 255);
    border: 1px solid #022355;
    font-weight: bold;
    font-size: 22px;
}
.ToWatch .Button:hover{
    background: #022355;
    color: #fff;
}