.Movie{
    margin: 10px 0;
}
.Movie input{
    padding: 5px 15px;
    background: rgba(4, 104, 255, 0.16);
    border: 1px solid #022355;
    color: #fff;
    font-size: 22px;
}
.Movie .Button{
    background: rgb(62, 134, 255);
    border: 1px solid #022355;
    font-size: 22px;
}
.Movie .Button:hover{
    background: #022355;
    color: #fff;
}