.MessageSend form{
    display: flex;
    justify-content: center;
}
.SendWrapper{
    border: 2px solid #7056ac;
    padding: 10px 0 0;
}
.SendWrapper:last-child{
    padding: 0;
}
.SendWrapper span{
    display: block;
    padding: 0 6px;
    text-transform: uppercase;
}
.SendWrapper input{
    border-top: 1px solid #7056ac;
    font-size: 18px;
    padding: 2px 5px;
}
.SendWrapper button{
    height: 100%;
}